<div class="container gedf-wrapper">
  <div class="row py-2">
    <!-- Left dock start -->
    <div class="col-md-2">
      <div class="container">
        <div class="row py-2">
          <i class="icon"></i>
          <%= link_to "Главная", posts_path %>
        </div>
        <div class="row py-2">
          <i class="icon"></i>
          <i data-feather="circle"></i>
          <a>Уведомления</a>
        </div>
        <div class="row py-2">
          <i class="icon"></i>
          <a>Сообщения</a>
        </div>
        <div class="row py-2">
          <i class="icon"></i>
          <a>Избранное</a>
        </div>
        <div class="row py-2">
          <i class="icon"></i>
          <a>Подписки</a>
        </div>
        <div class="row py-2">
          <i class="icon"></i>
          <a>Добавить карту</a>
        </div>
        <div class="row py-2">
          <i class="icon"></i>
          <%= link_to "Мой профиль", user_path(current_user.user_tag) %>
        </div>
        <div class="row py-3">
          <i class="icon"></i>
          <a>Новая запись</a>
        </div>
      </div>
    </div>
    <!-- Left dock end -->
    <!-- Middle dock start -->
    <div class="col-md-6">
      <div class="container">
        <div id="new-post">
          <%= render "posts/form", post: @post %>
        </div>
        <div id="posts-block">
          <%= render @posts %>
        </div>
      </div>
    </div>
    <!-- Middle dock end -->
    <div class="col-md-4">
      <div class="card gedf-card">
        <div class="card-header">
          <h5 class="card-title">Рекомендации</h5>
        </div>
        <div class="card-body">
          <div class="card gedf-card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.
              </p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>