<div class="col-md-2" id="<%= dom_id(post, :comments_count) %>">
  <button type="button" class="btn btn-sub-accent">
        <i class="fe fe-comment-o"> <%=post.comments.count%></i>
  </button>
</div>