:root {
  --site-accent-color: #60435F;
  --site-bg-color: #F8F9FA;
  --basic-element-border: 15px;
  --text-muted : black;
  --text-size-medium: 16px;
  --text-weight-medium: 500;
}

.text-main-accent {
  color: var(--site-accent-color);
}

.text-medium {
  font-style: normal;
  font-weight: var(--text-weight-medium);
  font-size: var(--text-size-medium);
}

.btn-main {
  --bs-btn-color: var(--site-bg-color);
  --bs-btn-bg: var(--site-accent-color);
  --bs-btn-border-color: var(--site-accent-color);
  --bs-btn-hover-color: var(--site-accent-color);
  --bs-btn-hover-bg: var(--site-bg-color);
  --bs-btn-hover-border-color: var(--site-accent-color);
  --bs-btn-focus-shadow-rgb: 248, 249, 250;
  --bs-btn-active-color: var(--site-accent-color);
  --bs-btn-active-bg: var(--site-bg-color);
  --bs-btn-active-border-color: var(--site-bg-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--site-bg-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--site-bg-color);
  --bs-gradient: none;
}
.btn-outline-main {
  --bs-btn-color: var(--site-accent-color);
  --bs-btn-bg: var(--site-bg-color);
  --bs-btn-border-color: var(--site-accent-color);
  --bs-btn-hover-color: var(--site-bg-color);
  --bs-btn-hover-bg: var(--site-accent-color);
  --bs-btn-hover-border-color: var(--site-accent-color);
  --bs-btn-focus-shadow-rgb: 248, 249, 250;
  --bs-btn-active-color: var(--site-accent-color);
  --bs-btn-active-bg: var(--site-bg-color);
  --bs-btn-active-border-color: var(--site-bg-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--site-bg-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--site-bg-color);
  --bs-gradient: none;
}
.h7 {
  font-size: 0.8rem;
}

.gedf-wrapper {
  margin-top: 0.97rem;
  border-radius: 15px;
}

@media (min-width: 992px) {
  .gedf-main {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .gedf-card {
    margin-bottom: 2.77rem;
  }
}

.post-card-header {
  //color: var(--site-bg-color);
  background-color: var(--site-bg-color);
  border-bottom: 0px;
}
/**Reset Bootstrap*/
.dropdown-toggle::after {
  content: none;
  display: none;
}

.profile-card {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  //border: 2px solid var(--site-accent-color);
  //border-inline: 2px solid;
}

img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.profile-desc {
  width: 100%;
  height: 235px;
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  margin-top: -30px;
  background:var(--site-accent-color);
}

.profile-avatar {
  position: relative;
  top: 15px;
  left: 2rem;
  margin-top: -125px;
  width: 200px;
  z-index: 999;
}

.profile-avatar img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 2px solid #FDF7FA;
}

.profile-edit-btn {
  background: #7D617C;
  border-radius: 15px;
  color: #FDF7FA;
}

.profile-caption {
  padding-top: 35px;
  color:#FDF7FA;
}

.profile-caption h3 {
  font-size: 24px;
  font-weight: 700;
}

.profile-caption h4 {
  font-size: 16px;
  font-weight: 400;
}

.profile-caption h5 {
  font-size: 16px;
  font-weight: 400;
  color: #C8C8C8;
}

.profile-desc hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #7D617C;
  border-radius: 15px;
}

.profile-stats h4 {
  color: #F5A3FF;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.profile-stats h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #FDF7FA;
}
#rectangle{
  width: 100%;
  height: 300px;
  background:var(--site-accent-color);
}