<main>
  <div class="banner_sec">
    <div class="banner_box">
      <div class="banner_innr">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="banner_details">
                <b class="ban_heading">
                  Заработай на своем таланте с RuFans.
                </b>
                <p></p>
                <p>
                  abpba kfskjdjkfsdkjfsdkjdfkj
                </p>
                <p></p>
                <%= link_to 'Попробовать', new_user_session_path, class: "btn btn-main" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="banner_pic show-image">
                <img alt="" src="assets/index-highlight.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>